<%= render "shared/header" %>

<!-- トップ画像 -->
<div class="jumbotron-fluid position-relative top_image p-0">
  
  <!-- トップ画像内文字 -->
  <div class="text-white position-absolute main-txt">
    <h1 class="display-4">「人を動かす」</h1>
    <p class="lead">やってみせ、言って聞かせて、させてみせ、ほめてやらねば、人は動かじ。
      <br>話し合い耳を傾け承認し任せてやらねば人は育たず、
      <br>（管理人の好きな名言『山本五十六』より）</p>
  </div>
</div>

<!-- 説明文-->
<div class="zigzag text-white">
  <div class="container py-5">
    <div class="row py-5">
      
        <ul class="title">このページでは旅行を目的としています。こんなとこに行ってみたいとかをきっかけにしていただければ幸いです。
          <li class="open">=ページの紹介=</li>
          <li class="open">・日記のページ</li>
          <li class="introduction">皆さんが修学旅行や慰安旅行でも構いません。遠くにいかれたときの旅の思い出を
        投稿していただければと思います。写真１枚貼って思い出を綴っていただければと思います。</li>
          <li class="open">・チャットのページ</li>
          <li class="introduction">LINEのようにチャットの部屋で談笑していただければと思います。</li>
           <li class="open">・予定管理表のページ</li>
          <li class="introduction">これから旅行の計画をされておられる方は、こんな予定を立ててみたいなどあればお書きください。</li>
          <li class="introduction">上の３つはログイン前提となっております。ログインされない方は日記の閲覧のみ可能です。</li>
        </ul>
     
    </div>
  </div>
</div>

<%= render "shared/footer" %>